PORT = 3000
MONGO_URI = DATABASE_URL
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173,http://localhost:5174"
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_CALLBACK_URL = http://localhost:3000/api/auth/google/callback
JWT_ACCESS_SECRET = ACCESS_TOKEN
JWT_REFRESH_SECRET = REFRESH_TOKEN
